<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TranslateITEntities" connectionString="metadata=res://*/Model.Entity.ModelTranslateIT.csdl|res://*/Model.Entity.ModelTranslateIT.ssdl|res://*/Model.Entity.ModelTranslateIT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HI08927\SQLEXPRESS;initial catalog=TranslateIT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TranslateITEntities1" connectionString="metadata=res://*/Model.Entity.TranslateITModel.csdl|res://*/Model.Entity.TranslateITModel.ssdl|res://*/Model.Entity.TranslateITModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HI08927\SQLEXPRESS;initial catalog=TranslateIT;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TranslateITEntities2" connectionString="metadata=res://*/Model.Entity.TranslateITModel.csdl|res://*/Model.Entity.TranslateITModel.ssdl|res://*/Model.Entity.TranslateITModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-9KF50QC6;initial catalog=TranslateIT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TranslateITEntities3" connectionString="metadata=res://*/Model.Entity.TranslateITModel.csdl|res://*/Model.Entity.TranslateITModel.ssdl|res://*/Model.Entity.TranslateITModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-9KF50QC6;initial catalog=TranslateIT;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TranslateITEntities4" connectionString="metadata=res://*/Model.Entity.TranslateITModel.csdl|res://*/Model.Entity.TranslateITModel.ssdl|res://*/Model.Entity.TranslateITModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-9KF50QC6;initial catalog=TranslateIT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>